#wrap{
  border: solid 1px black;
  background-color: rgba(255,255,255);
  width:100%;
  height:auto;
  margin: 0 auto;
}
#socialMedia{
  font-family: garamond;

  background-color: black;
  color: white;
  width: 60px;
  height: 270px;
  position: fixed;
  right:5px;
  top: 30%;

}
h1{
  width:100%;
  font-family: garamond;
  border: solid 1px;
  /*display: flex;*/
  text-align: center;

  background-color: white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50%ß;
}
header{
  font-family: garamond;

border: solid 1px #FD1C1C;
background-color: #FD1C1C;
/*display: flex;*/
padding: 10px;
}
body{
  width:100%;
  font-family: garamond;

  margin: 0px;
}
nav{
  width:100%;
  font-family: garamond;

  margin: 2px;
  background-color: rgb(0,128,0);
  list-style: none;
}
nav ul{
  padding: 0px;
  width:100%;
  display: flex;
}
nav ul a{
  flex-grow: 1;

}
nav ul a:link{
  text-decoration: none;
  font-weight: bold;
}
nav ul a:visited{
  color: yellow;
}
nav ul li{
  list-style: none;
  padding: 0px;
  border: solid 1px black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family; garamond;
}
/*nav ul a li{
  font-family: astrofont;
}
 nav ul li:last-child{
  border-right: none; */

nav ul li:hover{
  background-color: #0D34F5;
  color: green;
}

/*  font-size: 15pt;
  font-family: sans-serif;
  color: white;
  padding-left: 90px;
  padding-right: 90px;

}
nav{
  border: solid 1px black;
  background-color: green;
  padding: 10px;
  list-style: none;
}

nav ul{
  border: solid 1px green;
  padding: 0px;
  margin: 0px;
  display: flex;
}
nav ul a{
  flex-grow: 1;
}
nav ul li{
  border: solid 1px black;
  text-align: center;
  list-style: none;

  flex-grow: 1;
}
*/
h2{
  font-family: garamond;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}


.information{
  padding:10px;
  min-height: 200px;
}
.information h3{
  display: none;
}

.circle{
  font-family: garamond;
  font-size: 20px;
margin-bottom: 25px;
   width: 90%;
    padding-bottom: 20px;
    padding: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50%ß;
    background-color:#ccc;

}
.circle h2{
  display:none;
}


#socialMedia img {
  margin-top: 50px;
  border-radius: 50%;
  width 50%;
}
#socialMedia a{
  text-align: center;
  color:white;
}
#socialMedia a:hover{
  background-color: red;
}

.circle img {
  border-radius: 50%;
  width 50%;
}
.circle2 img {
  border-radius: 50%;
  width 50%;
}


}
footer{
  /* border: solid 1px; */
  width:75%;
  /* display: flex; */
  min-height: 250px;
  margin-top: 0px;
}
footer section{
  /* display: flex; */
  /* display: inline-flex; */
  justify-content: center;
  padding-top: 15px;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;

  margin-left: 0%;
  margin-right: 0%;
}
.workscited{
  width:device-width;
  font-family: garamond;
  font-size: 18px;

  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}


/* TRANSPORTATION Site */

h3{
  font-family: garamond;

  padding-top: 10px;
  margin-top: 10px;
  text-align: center;

}
p{
  font-family: garamond;

  text-align: center;
}
.columnRN {
  /* float: left; */
  font-family: garamond;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.columnR {
  /* float: left; */
  font-family: garamond;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  /* float: left; */
  width: 100%;
  padding: 10px;
  height: 300px;
  font-family: garamond;
  font-size: 20px;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}


footer2{
  /* border: solid 1px; */
  display: flex;
  width:95%;

  min-height: 10px;
  margin: 50px;
}
footer2 section{
  padding: 0px;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
  justify-content: center;

}




/* visit Site */

p li{
  text-align: center;
  display: none;
}
/* .text{ */
  /* display: flex; */
  /* border: solid 1px black; */
  /* flex-grow: 1; */
  /* min-height: 20px; */
  /* padding:10px; */
/* } */
.textV{
  /* flex-grow: 1; */
  min-height: 20px;
  padding:10px;
}
.columnV {
  /* float: left; */
  /* border: solid 1px black; */
  /* width: 100%; */
  padding-top: 10px;
  height: auto;
}
.columnVI {
  float: left;
  /* border: solid 1px black; */
  width: 100%;
  padding: 10px;
  margin-right: 20px;
  height: 30px;
  margin-bottom: 40px;

}
.columnVI p{
  text-align: center;
  background:#FF9933;


}
.columnIV {
  float: left;
  /* border: solid 1px black; */
  width: 95%;
  padding: 10px;
  /* margin-right: 20px; */
  height: 30px;
  margin-bottom: 15%;

}
.columnVI p{
  padding-right: 50px;
  margin-right: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50%ß;
  font-family: garamond;
  font-size: 20px;
  font-family: garamond;

}
.text3{
  /* display: flex; */
  /* border: solid 1px black; */
  /* flex-grow: 1; */
  padding:10px;
  height: 300px;
  min-height: 20px;

}
.break{
  padding:10%;
  margin-top: 40px;
}
.textV .break{
  display:none;
}
.columnG {
  /* float: left; */
  width: device-width;
  padding: 5px;
  height: 300px;

}

.columnX h3{
  /* float: left; */
  display: none;

}
.text5{
  /* display: flex; */
  /* border: solid 1px black; */
  /* flex-grow: 1; */
  padding:10px;
  height: 600px;
  min-height: 20px;
}
.columnZ {
  /* float: left; */
  /* width: 50%; */
  padding: 10px;
  height: 300px;
  font-family: garamond;
  font-size: 16px;
  background-color: #FF9933;

}

.columnY {
  /* float: left; */
  /* width: 50%; */
  padding: 10px;
  height: 275px;
  font-family: garamond;
  font-size: 18px;
  background-color: #aaa;

}
.column6 {
  float: left;
  /* border: solid 1px black; */
  width: 50%;
  padding: 10px;
  margin-bottom: 200px;
  height: 300px;
}


footerv{
  /* border: solid 1px; */
  margin-top: 300px;
  display: flex;
  min-height: 10px;
}
footerv section{
  margin-top: 350px;
  padding: 0px;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
  justify-content: center;
  margin-left: 15%;
}

/* History */


/* .text{ */
  /* display: flex; */
  /* border: solid 1px black; */
  /* width:device-width; */
  /* flex-grow: 1; */
  /* padding:10px; */
  /* height: 150px; */
  /* min-height: 20px; */
  /* padding:10px; */
/* } */
.column3 {
  /* float: left; */
  /* width: 50%; */
  border: solid 3px black;
  padding: 5px;
  height: 300px;
  font-family: garamond;
  font-size: 20px;
}
.column4 {
  /* float: left; */
  /* width: 50%; */
  padding: 10px;
  height: 150px;
  font-family: garamond;
  font-size: 18px;
  background-color: #FF9933;

}
.column5 {
  /* float: left; */
  /* width: 33%; */
  border: solid 3px black;
  padding: 5px;
  height: 300px;
  font-family: garamond;
  font-size: 18px;

}
.column59 {
  /* float: left; */
  /* width: 33%; */
  border: solid 3px black;
  padding: 5px;
  height: 300px;
  font-family: garamond;
  font-size: 18px;

}
.column59 {
  display: none;
}
.column5 h3{
  /* float: left; */
  /* width: 33%; */
  display:none;

}

 /* .text2{  */
  /* display: flex; */
  /* border: solid 1px black; */
  /* flex-grow: 1; */
  /* padding:10px; */
  /* height: 300px; */
  /* min-height: 20px; */
  /* padding:10px; */
/* }  */
